@import "tailwindcss";

@theme {
  --color-brand-green-light: #28a351;
  --color-brand-green-DEFAULT: #1a7a3a;
  --color-brand-green-dark: #125629;

  --color-brand-maroon-light: #d63e3e;
  --color-brand-maroon-DEFAULT: #b02121;
  --color-brand-maroon-dark: #8a1a1a;

  --color-brand-gold-light: #f9e44f;
  --color-brand-gold-DEFAULT: #f1c40f;
  --color-brand-gold-dark: #c09c0c;
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #059669;
  }
}